@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="LoginController">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0">Login</p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">User Name</label>
                    <input ng-model="LoginUser.UserName" class="form-control form-control-lg"
                           placeholder="Enter your username"/>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label">Password</label>
                    <input ng-model="LoginUser.Password" type="password" class="form-control form-control-lg"
                           placeholder="Enter password"/>
                </div>


                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" ng-click="Login()" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        Login
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between fixed-bottom py-4 px-4 px-xl-5 bg-primary">
        <div class="text-white mb-3 mb-md-0">
            Demo Project by Kainat
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/pages/login.js"></script>
}
